.bg-dark {
    background-color: #000034 !important;
    color: #FFFFFF !important;
}
.bg-yellow {
    background-color: #DEE403 !important;
    // box-shadow: 0px 2px #C0C600;
    box-shadow: rgba(133, 131, 131, 0.35) 0px 3px 10px;
    color: #000000 !important;
}
.navbar {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.navbar-nav {
    margin: auto;
}
.navbar-brand {
    width: 128px;
    // color: #FFFFFF;
    img {
        width: 65px;
    }
    font-family: "Cinzel Decorative";
    font-size: 2rem;
    letter-spacing: 0;
    line-height: 32px;
}
.navbar-dark .navbar-nav .nav-link, .navbar-dark .navbar-nav .show>.nav-link {
    // color: #fff;
    font-size: 14px;
}
.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link {
    // color: #fff;
    font-weight: bold;
    font-size: 20px;
}
.active-tab{
    color: white;
    border-bottom: #DEE403 2px solid;
}
@media screen and (max-width: 480px) {
    .navbar-brand {
        font-size: 8vw;
    }
}