<div class="container-fluid" style="background-color: #DEE403 !important;">
    <div class="row">
        <div class="col-lg-12">
            <div class="uname">
                MOHAN KUMAR 
            </div>
            <div class="info">
                You have preregistered for two products. View the Active Passes section below to know more.
            </div>
        </div>
        <div class="col-lg-12">
            <div class="buttonsGroup" routerLink="/per-info">
                <span class="spanBtn">
                    <img src="assets/icons/Account_Profile_Web.svg" alt="">
                    <span>
                        <div class="txt">
                            Personal Information
                        </div>
                        <div class="tagLine">
                            View and edit your personal information such as name, email, phone number, profile photo and your password.
                        </div>
                    </span>
                    <span class="arrow">
                        →
                    </span>
                </span>                
            </div>
        </div>
        <div class="col-lg-12">
            <div class="buttonsGroup" routerLink="/active-pass">
                <span class="spanBtn">
                    <img src="assets/icons/Account_Profile_Web.svg" alt="">
                    <span>
                        <div class="txt">
                            ACTIVE Passes
                        </div>
                        <div class="tagLine">
                            View your active passes here.
                        </div>
                    </span>
                    <span class="arrow">
                        →
                    </span>
                </span>                
            </div>
        </div>
        <div class="col-lg-12">
            <div class="buttonsGroup">
                <span class="spanBtn">
                    <img src="assets/icons/Account_Profile_Web.svg" alt="">
                    <span>
                        <div class="txt">
                            Payments
                        </div>
                        <div class="tagLine">
                            View and edit your info related to payments. 
                        </div>
                    </span>
                    <span class="arrow">
                        →
                    </span>
                </span>                
            </div>
        </div>
        <div class="col-lg-12">
            <div class="buttonsGroup" routerLink="/ref-ear">
                <span class="spanBtn">
                    <img src="assets/icons/Account_Profile_Web.svg" alt="">
                    <span>
                        <div class="txt">
                            Refer & Earn
                        </div>
                        <div class="tagLine">
                            Refer BidMouse to your family and friends. Earn cashback when they buy a pass. 
                        </div>
                    </span>
                    <span class="arrow">
                        →
                    </span>
                </span>                
            </div>
        </div>
        <div class="col-lg-12">
            <div class="buttonsGroup">
                <span class="spanBtn">
                    <img src="assets/icons/Account_Logout_Web.svg" alt="">                    
                    <div style="font-family: Lato; font-size: 40px;line-height: 75px;">
                        Log Out of BidMouse
                    </div>                    
                    <span class="arrow">
                        →
                    </span>
                </span>                
            </div>
        </div>
    </div>
    <div class="row" style="background-color: #000034;">
        <div class="col-lg-6">
          <div class="forHelp">
            <div class="title">
              For Help & Support
            </div>
            <div class="email">
              hello@bidmouse.co
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="forHelp">
            <div class="email">
              <div class="link" style="width: 9rem;">
                Sign Up →
              </div>
              <div class="link" style="width: 15rem;">
                Refer and Earn →
              </div>            
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="forHelp">
            
            <div class="email">
              BidMouse is a Unit of <br>
              AMGB Treeline Private Limited
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="forHelp">
            <div class="email">
              Visit Our Social Pages
            </div>
            <div class="social-icons">
              <img src="assets/icons/facebook-singupsignin.svg" alt="">
              <img src="assets/icons/twitter_referral.svg" alt="">
              <img src="assets/icons/google-signupsignin.svg" alt="">
            </div>
          </div>
        </div>
      </div>
</div>