<div class="flex-container">
    <div class="left">
        <div class="circle2">
            <div class="text">
                Vestibulum rutrum quam vitae fringilla tincidunt. Suspendisse nec tortor urna. Ut laoreet sodales nisi, quis iaculis nulla iaculis vitae. Donec sagittis faucibus lacus eget blandit. Mauris vitae ultricies metus, at condimentum nulla.
            </div>
            
        </div>
        <div class="circle">
            <img src="assets/images/iPhone1.png" alt="">
        </div>
    </div>
    <div class="right">
        <div class="info">
            <div class="pname">IPHONE 12 PRO </div> 
            <br>
            <br>
            <div class="bidprice">
                <div class="cbid">
                    BIDDING CLOSES IN
                </div>
                <div class="price">
                    10h 38m 25s
                </div>
                <br><br>
                <input type="button" value="₹ 155.59     |      PLACE BID" class="getin">
            </div>
            
        </div>
        
    </div>
</div>
<div class="container">
    <div class="standing">
        <div class="title">
            <span>STANDINGS</span>
            <div class="directions">
                <span class="left">
                  ←
                </span>
                <span class="right inactive">
                  →
                </span>
              </div>
        </div>
        <div class="body">
            <table class="table table-borderless">
                <tr>
                    <td style="width: 100px;">
                        <div class="pic">

                        </div>
                    </td>
                    <td>Arvind Naik</td>
                    <td>₹ 10.98</td>
                    <td style="font-size: 72px;">1</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td style="width: 100px;">
                        <div class="pic">

                        </div>
                    </td>
                    <td>Ramesh Ramakrishna</td>
                    <td>₹ 10.98</td>
                    <td style="font-size: 72px;">2</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td style="width: 100px;">
                        <div class="pic">

                        </div>
                    </td>
                    <td>Arvind Naik</td>
                    <td>₹ 10.98</td>
                    <td style="font-size: 72px;">3</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td style="width: 100px;">
                        <div class="pic">

                        </div>
                    </td>
                    <td>Arvind Naik</td>
                    <td>₹ 10.98</td>
                    <td style="font-size: 72px;">4</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td style="width: 100px;">
                        <div class="pic">

                        </div>
                    </td>
                    <td>Arvind Naik</td>
                    <td>₹ 10.98</td>
                    <td style="font-size: 72px;">5</td>
                </tr>
              </table>
        </div>
        
    </div>
</div>
<div class="imgSlide">
    <div class="left">
        <div class="noms">
            PHOTOS <br>
           <span style="font-size: 36px;">
               1
           </span> <span style="font-size: 16px;">/5</span>
        </div>
        <div class="lImg">
            <img src="assets/images/ProductIMG5.jpg" alt="">
        </div>
        <div class="arrows">
            <span>←</span><span class="active">→</span>
        </div>
    </div>
    <div class="right">
        <img src="assets/images/ProductIMG5.jpg" alt="">
    </div>
</div>
<div class="specification-feature">
    <div class="left">
        Specifications
    </div>
    <div class="right">
        Features
    </div>
</div>
<div class="specification-info">
    <div class="left">
        <table class="table table-borderless">
            <tr>
                <td>
                    <span style="font-weight: bold;">
                        Mauris
                    </span><br>
                      <span>Non tempor quam.</span>
                </td>
                <td>
                    <span style="font-weight: bold;">
                        Mauris
                    </span><br>
                      <span>Non tempor quam.</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span style="font-weight: bold;">
                        Mauris
                    </span><br>
                      <span>Non tempor quam.</span>
                </td>
                <td>
                    <span style="font-weight: bold;">
                        Mauris
                    </span><br>
                      <span>Non tempor quam.</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span style="font-weight: bold;">
                        Mauris
                    </span><br>
                      <span>Non tempor quam.</span>
                </td>
                <td>
                    <span style="font-weight: bold;">
                        Mauris
                    </span><br>
                      <span>Non tempor quam.</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span style="font-weight: bold;">
                        Mauris
                    </span><br>
                      <span>elementum sed varius at lopjang posuere vulputate.</span>
                </td>
                <td>
                    <span style="font-weight: bold;">
                        Mauris
                    </span><br>
                      <span>elementum sed varius at lopjang posuere vulputate.</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span style="font-weight: bold;">
                        Mauris
                    </span><br>
                      <span>Non tempor quam.</span>
                </td>
                <td>
                    <span style="font-weight: bold;">
                        Mauris
                    </span><br>
                      <span>Non tempor quam.</span>
                </td>
            </tr>
        </table>
        <br>
        <br>
    </div>
    <div class="right">
        iPhone 12 Pro. Beautifully bright 6.1-inch (15.5 cm diagonal) Super Retina XDR display. Ceramic Shield with four times better drop performance. Incredible low-light photography with a new pro camera system and 4x optical zoom range. Cinema-grade Dolby Vision video recording, editing and playback. Night mode portraits and next-level AR experiences with the LiDAR Scanner. Powerful A14 Bionic chip.
    </div>
</div>
<div class="learn-more">
    <input type="button" value="Learn More About Product" class="learn-btn">
</div>
<div class="flex-support-contact">
    <div class="support">
        <div class="text">
            <div style="font-size: 1.5vw;">FOR HELP & SUPPORT</div>
            <div style="font-size: 2vw;">HELLO@BIDMOUSE.CO</div>
            <br><br><br><br>
            <div class="social">
                VISIT OUR SOCIAL PAGES
            </div>
            <div class="social-icons">
                <img src="assets/icons/facebook-singupsignin.svg" alt="">
                <img src="assets/icons/twitter_referral.svg" alt="">
                <img src="assets/icons/google-signupsignin.svg" alt="">
            </div>
            <br><br><br><br>
            <div class="unit">
                BidMouse is a Unit of <br>
                AMGB Treeline Private Limited
            </div>
        </div>
    </div>
    <div class="contact">
        <div style="font-size: 1.5vw;">Site Links</div>
        <br><br><br><br>
        <table border="0" style="width: 110%;">
            <tr>
                <td><span>Sign Up →</span></td>
                <td><span>Standard →</span></td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td><span>Refer and Earn →</span></td>
                <td><span><span>Premium →</span></span></td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td><span><span>FAQ’s →</span></span></td>
                <td><span><span>Winners →</span></span></td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td><span>Help Centre→</span></td>
                <td><span>About BidMouse →</span></td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td><span>Privacy Policy →</span></td>
                <td><span>Partner with BidMouse →</span></td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2"><span>Terms of Service →</span></td>
            </tr>
        </table>
        
    </div>
</div>