<div class="prod-inf">
    <div class="p1">
        <div class="brand">
            <b>BRAND:</b> TISSOT
        </div>
        <div class="origin">
            <b>COUNTRY OF ORIGIN:</b> FRANCE
        </div>
    </div>
    <div class="p1">
        <div class="brand"
            style="border: none;">

        </div>
        <div class="origin">Tissot Chronograph MT190 is et lacinia sapien. Mauris accumsan eros eget libero posuere
            vulputate. Etiam elit elit elementum.</div>
    </div>
    <div class="p1">
        <div class="brand"
            style="border: none;">
            <b>BIDDING CLOSES IN</b>
        </div>
        <div class="o2">
            4h 38m 27s
        </div>
    </div>
</div>
<div class="three-circle">
    <div class="c1">
        <div class="circle">
            <img src="assets/images/iPhone1.png"
                alt="">
        </div>
    </div>
    <div class="c1">
        <div class="circle">
            <span>Tissot Chronograph
                MT 190</span>
        </div>
    </div>
    <div class="c2">
        <div class="circle">
            <div class="price">₹ 438.67</div>
            <div class="place">PLACE BID</div>
        </div>
    </div>
</div>
<div class="standing">
    Standings
</div>
<div class="std-table">
    <div class="left">
        <div class="profile-img">
            <img src="assets/images/iPhone1.png"
                alt="">
            <div class="name">
                ARVIND NAIK
            </div>
        </div>
    </div>
    <div class="right">
        <table>
            <tr>
                <td><span>Arvind Naik</span></td>
                <td><span>₹ 438.67</span><span>1</span></td>
            </tr>
            <tr>
                <td><span>Arvind Naik</span></td>
                <td><span>₹ 438.67</span><span>2</span></td>
            </tr>
            <tr>
                <td><span>Arvind Naik</span></td>
                <td><span>₹ 438.67</span><span>3</span></td>
            </tr>
            <tr>
                <td><span>Arvind Naik</span></td>
                <td><span>₹ 438.67</span><span>4</span></td>
            </tr>
            <tr>
                <td><span>Arvind Naik</span></td>
                <td><span>₹ 438.67</span></td>
            </tr>
            <tr>
                <td><span>Arvind Naik</span></td>
                <td><span>₹ 438.67</span></td>
            </tr>
            <tr>
                <td><span>Arvind Naik</span></td>
                <td><span>₹ 438.67</span></td>
            </tr>
            <tr>
                <td><span>Arvind Naik</span></td>
                <td><span>₹ 438.67</span></td>
            </tr>
            <tr>
                <td><span>Arvind Naik</span></td>
                <td><span>₹ 438.67</span></td>
            </tr>
            <tr>
                <td><span>Arvind Naik</span></td>
                <td><span>₹ 438.67</span></td>
            </tr>
        </table>
    </div>
</div>
<div class="blank">
    <div class="d1">
        &nbsp;
    </div>
    <div class="d2">
        &nbsp;
    </div>
    <div class="d3">
        <div class="arrows">
            <span class="inactive">←</span>
            <span>→</span>
        </div>
    </div>
</div>
<div class="dot-labels">
    <span>PRODUCT FEATURES</span>
    <span class="dot">.</span>
    <span>PRODUCT SPECIFICATIONS</span>
    <span>.</span>
    <span>PRODUCT PHOTOS</span>
    <span>.</span>
    <span>& MORE</span>
</div>
<div class="product">
    PRODUCT
</div>
<div class="imgSlid">
    <div class="left">
        <img src="assets/images/ProductIMG4.jpg"
            alt="">
    </div>
    <div class="right">
        <div class="photos">
            PHOTOS
        </div>
        <div class="noms">
            1 <span>/5</span>
        </div>
        <div class="arrows">
            <span class="inactive">←</span>
            <span>→</span>
        </div>
    </div>
</div>
<div class="specification-feature">
    <div class="left">
        <div class="spec">Specifications</div>
    </div>
    <div class="right">
        Features
    </div>
</div>
<div class="specification-info">
    <div class="left">
        <table class="table table-borderless"
            style="width: 85%;">
            <tr>
                <td>
                    <span style="font-weight: bold;">
                        Mauris
                    </span><br>
                    <span>Non tempor quam.</span>
                </td>
                <td>
                    <span style="font-weight: bold;">
                        Mauris
                    </span><br>
                    <span>Non tempor quam.</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span style="font-weight: bold;">
                        Mauris
                    </span><br>
                    <span>Non tempor quam.</span>
                </td>
                <td>
                    <span style="font-weight: bold;">
                        Mauris
                    </span><br>
                    <span>Non tempor quam.</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span style="font-weight: bold;">
                        Mauris
                    </span><br>
                    <span>Non tempor quam.</span>
                </td>
                <td>
                    <span style="font-weight: bold;">
                        Mauris
                    </span><br>
                    <span>Non tempor quam.</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span style="font-weight: bold;">
                        Mauris
                    </span><br>
                    <span>elementum sed varius at lopjang posuere vulputate.</span>
                </td>
                <td>
                    <span style="font-weight: bold;">
                        Mauris
                    </span><br>
                    <span>elementum sed varius at lopjang posuere vulputate.</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span style="font-weight: bold;">
                        Mauris
                    </span><br>
                    <span>Non tempor quam.</span>
                </td>
                <td>
                    <span style="font-weight: bold;">
                        Mauris
                    </span><br>
                    <span>Non tempor quam.</span>
                </td>
            </tr>
        </table>
        <br>
        <br>
    </div>
    <div class="right">
        <div class="fea">
            iPhone 12 Pro. Beautifully bright 6.1-inch (15.5 cm diagonal) Super Retina XDR display. Ceramic Shield with
            four times better drop performance. Incredible low-light photography with a new pro camera system and 4x
            optical zoom range. Cinema-grade Dolby Vision video recording, editing and playback. Night mode portraits
            and next-level AR experiences with the LiDAR Scanner. Powerful A14 Bionic chip.
        </div>
    </div>
</div>
<div class="learn-more">
    <input type="button"
        value="Learn More About Product"
        class="learn-btn">
</div>
<div class="flex-support-contact">
    <div class="support">
        <div class="text">
            <div style="font-size: 1.5vw;">FOR HELP & SUPPORT</div>
            <div style="font-size: 2vw;">HELLO@BIDMOUSE.CO</div>
            <br><br><br><br>
            <div class="social">
                VISIT OUR SOCIAL PAGES
            </div>
            <div class="social-icons">
                <img src="assets/icons/facebook-singupsignin.svg"
                    alt="">
                <img src="assets/icons/twitter_referral.svg"
                    alt="">
                <img src="assets/icons/google-signupsignin.svg"
                    alt="">
            </div>
            <br><br><br><br>
            <div class="unit">
                BidMouse is a Unit of <br>
                AMGB Treeline Private Limited
            </div>
        </div>
    </div>
    <div class="contact">
        <div style="font-size: 1.5vw;">Site Links</div>
        <br><br><br><br>
        <table border="0"
            style="width: 110%;">
            <tr>
                <td><span>Sign Up →</span></td>
                <td><span>Standard →</span></td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td><span>Refer and Earn →</span></td>
                <td><span><span>Premium →</span></span></td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td><span><span>FAQ’s →</span></span></td>
                <td><span><span>Winners →</span></span></td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td><span>Help Centre→</span></td>
                <td><span>About BidMouse →</span></td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td><span>Privacy Policy →</span></td>
                <td><span>Partner with BidMouse →</span></td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2"><span>Terms of Service →</span></td>
            </tr>
        </table>

    </div>
</div>