<div class="container-fluid" style="background-color: #DEE403 !important;">
    <div class="row">
        <div class="col-lg-12">
            <div class="back" routerLink="/my-acc">
                ← Back
            </div>
            <div class="pageTitle">
                Active Passes
            </div>
        </div>
    </div>
    <div class="row" style="background: linear-gradient(180deg, #0E0052 0%, #342699 100%);">
        <div class="col-lg-6">
            <div class="leftPasses">
                <img src="assets/images/passes3.png" alt="">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="passDetails">
                <div class="title">
                    Launch Day Pass
                </div>
                <table border="0" class="table table-borderless" style="width: 80%;">
                    <tr>
                        <td>
                            <div class="start">
                                Start Date: 
                            </div>
                        </td>
                        <td>
                            <div class="start">
                                <span class="values">Monday, 26 April 2021</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="start">
                                Valid for:
                            </div>
                        </td>
                        <td>
                            <div class="start">
                                <span class="values">1 Day Only</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="start">
                                Segment:
                            </div>
                        </td>
                        <td>
                            <div class="start">
                                <span class="values">Launch Day Special</span>
                            </div>
                        </td>
                    </tr>
                </table>
                <div class="ldTxt">
                    With this Launch Day Pass, you will be able to bid for the launch day special product. 
                </div>
                <div style="display: flex; justify-content: space-between;">
                    <div class="passPrice">
                        ₹100
                    </div>
                    <img src="assets/icons/Account_Passes_Web.svg" alt="">
                </div>
                
            </div>
        </div>
    </div>
    <div class="row" style="background: linear-gradient(180deg, #813E3E 0%, #04363D 100%);">
        <div class="col-lg-6">
            <div class="leftPasses">
                <img src="assets/images/passes4svg.svg" alt="">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="passDetails">
                <div class="title">
                    Premium Saturday Pass
                </div>
                <table border="0" class="table table-borderless" style="width: 80%;">
                    <tr>
                        <td>
                            <div class="start">
                                Start Date: 
                            </div>
                        </td>
                        <td>
                            <div class="start">
                                <span class="values">Monday, 26 April 2021</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="start">
                                Valid for:
                            </div>
                        </td>
                        <td>
                            <div class="start">
                                <span class="values">1 Day Only</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="start">
                                Segment:
                            </div>
                        </td>
                        <td>
                            <div class="start">
                                <span class="values">BidMouse Premium</span>
                            </div>
                        </td>
                    </tr>
                </table>
                <div class="ldTxt">
                    With this Premium Saturday Pass, you will be able to bid for the product on BidMouse Premium segment.
                </div>
                <div style="display: flex; justify-content: space-between;">
                    <div class="passPrice">
                        ₹ 50
                    </div>
                    <img src="assets/icons/Account_Passes_Web.svg" alt="">
                </div>
                
            </div>
        </div>
    </div>
    <div class="row" style="background-color: #000034;">
        <div class="col-lg-6">
          <div class="forHelp">
            <div class="title">
              For Help & Support
            </div>
            <div class="email">
              hello@bidmouse.co
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="forHelp">
            <div class="email">
              <div class="link" style="width: 9rem;">
                Sign Up →
              </div>
              <div class="link" style="width: 15rem;">
                Refer and Earn →
              </div>            
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="forHelp">
            
            <div class="email">
              BidMouse is a Unit of <br>
              AMGB Treeline Private Limited
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="forHelp">
            <div class="email">
              Visit Our Social Pages
            </div>
            <div class="social-icons">
              <img src="assets/icons/facebook-singupsignin.svg" alt="">
              <img src="assets/icons/twitter_referral.svg" alt="">
              <img src="assets/icons/google-signupsignin.svg" alt="">
            </div>
          </div>
        </div>
      </div>
</div>