<div class="container-fluid" style="background-color: #DEE403 !important;">
    <div class="row">
        <div class="col-lg-12">
            <div class="back" routerLink="/my-acc">
                ← Back
            </div>
            <div class="pageTitle">
                Personal Information
            </div>
        </div>
        <div class="col-lg-3">
            <div class="profilePic">
                ADD PROFILE PHOTO
            </div>
        </div>
        <div class="col-lg-6">
            <div class="profileInfo">
                <div class="headers">
                    <span>BASIC INFO</span>
                    <span>EDIT</span>
                </div>
                <div class="inputfield">
                    <span>Full Name</span>
                    <div class="refercode">
                        <input type="text" name="" onfocus="this.placeholder=''" onfocusout="this.placeholder='Enter Full name'">
                    </div>
                </div>
                <div class="inputfield">
                    <span>Email Address</span>
                    <div class="refercode">
                        <input type="text" name="" onfocus="this.placeholder=''" onfocusout="this.placeholder='Enter Email address'">
                    </div>
                </div>
                <div class="inputfield">
                    <span>Phone Number</span>
                    <div class="refercode">
                        <input type="text" name="" onfocus="this.placeholder=''" onfocusout="this.placeholder='Enter Phone number'">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
           &nbsp;
        </div>
        <div class="col-lg-3">
            &nbsp;
         </div>
         <div class="col-lg-6">
            <div class="profileInfo">
                <div class="headers">
                    <span>DATE OF BIRTH</span>
                    <span>EDIT</span>
                </div>
                <div class="inputfield">
                    <span>Date of Birth</span>
                    <div class="refercode">
                        <input type="text" name="" onfocus="this.placeholder=''" onfocusout="this.placeholder='Enter Date of birth'">
                    </div>
                </div>               
            </div>
        </div>
        <div class="col-lg-3">
           &nbsp;
        </div>
        <div class="col-lg-3">
            &nbsp;
         </div>
         <div class="col-lg-6">
            <div class="profileInfo">
                <div class="headers">
                    <span>PASSWORD</span>
                    <span>EDIT</span>
                </div>
                <div class="inputfield">
                    <span>Password</span>
                    <div class="refercode">
                        <input type="text" name="" onfocus="this.placeholder=''" onfocusout="this.placeholder='Enter Password'">
                    </div>
                </div>               
            </div>
        </div>
        <div class="col-lg-3">
           &nbsp;
        </div>
        <div class="col-lg-3">
            &nbsp;
        </div>
        <div class="col-lg-6">
            <div class="profileInfo">
                <div class="headers">
                    <span>ADDRESS</span>
                    <span>EDIT</span>
                </div>
                <div class="inputfield">
                    <span>Address Line 1</span>
                    <div class="refercode">
                        <input type="text" name="" onfocus="this.placeholder=''" onfocusout="this.placeholder='Enter Full name'">
                    </div>
                </div>
                <div class="inputfield">
                    <span>Address Line 2 (Optional)</span>
                    <div class="refercode">
                        <input type="text" name="" onfocus="this.placeholder=''" onfocusout="this.placeholder='Enter Email address'">
                    </div>
                </div>
                <div class="inputfield">
                    <span>Pin Code</span>
                    <div class="refercode">
                        <input type="text" name="" onfocus="this.placeholder=''" onfocusout="this.placeholder='Enter Phone number'">
                    </div>
                </div>
                <div class="inputfield">
                    <span>City</span>
                    <div class="refercode">
                        <input type="text" name="" onfocus="this.placeholder=''" onfocusout="this.placeholder='Enter Phone number'">
                    </div>
                </div>
                <div class="inputfield">
                    <span>State and Country</span>
                    <div class="refercode">
                        <input type="text" name="" onfocus="this.placeholder=''" onfocusout="this.placeholder='Enter Phone number'">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
           &nbsp;
        </div>
        <div class="col-lg-3">
            &nbsp;
         </div>
         <div class="col-lg-6">
            <div class="profileInfo">
                <div class="headers">
                    <span>PRIVACY OPTIONS</span>
                    <span>EDIT</span>
                </div>
                <div class="inputfield">
                    <span>Standings and Winners List</span>
                    <div class="refercode">
                        <input type="text" name="" onfocus="this.placeholder=''" onfocusout="this.placeholder='Enter Password'">
                    </div>
                </div>               
            </div>
        </div>
        <div class="col-lg-3">
           &nbsp;
        </div>
    </div>
    <div class="row" style="background-color: #000034;">
        <div class="col-lg-6">
          <div class="forHelp">
            <div class="title">
              For Help & Support
            </div>
            <div class="email">
              hello@bidmouse.co
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="forHelp">
            <div class="email">
              <div class="link" style="width: 9rem;">
                Sign Up →
              </div>
              <div class="link" style="width: 15rem;">
                Refer and Earn →
              </div>            
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="forHelp">
            
            <div class="email">
              BidMouse is a Unit of <br>
              AMGB Treeline Private Limited
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="forHelp">
            <div class="email">
              Visit Our Social Pages
            </div>
            <div class="social-icons">
              <img src="assets/icons/facebook-singupsignin.svg" alt="">
              <img src="assets/icons/twitter_referral.svg" alt="">
              <img src="assets/icons/google-signupsignin.svg" alt="">
            </div>
          </div>
        </div>
      </div>
</div>