<div class="container-fluid bg-3 " style="background-color: #E8EF01; height: 100vh;">    
    
    <div class="row">
      <div class="col-sm-6">
        <div class="leftText">
            Sign Up to Pre-Register for products and to earn through referrals. <br>
            <span class="tagLine">You need to be atleast 18 years of age to create an account with us.</span>
        </div>
        <div class="iImage">
          <img src="assets/images/signupsignin.png" class="iImage" alt="illustration">
        </div>
      </div>
      <div class="col-sm-6"> 
        <div class="buttonsGroup">
            <span class="spanBtn">
              <img src="assets/icons/google-signupsignin.svg" alt="">
              Sign Up with Google
            </span>
            <span class="spanBtn">
              <img src="assets/icons/apple-signupsignin.svg" alt="">
              Sign Up with Apple</span>
            <span class="spanBtn">
              <img src="assets/icons/facebook-singupsignin.svg" alt="">
              Sign Up with Facebook</span>
            <span class="spanBtn" routerLink="/signup-form">
              <img src="assets/icons/envelope-signupsignin.svg" alt="">
              Sign Up with Email & Phone</span>
            <div class="accontHave">
                ALREADY HAVE AN ACCOUNT &nbsp;&nbsp;
                <a class="loginHere" routerLink="/login" >LOGIN HERE</a>
            </div>
            <span class="terms">
                By Signing Up you agree to the Terms and Conditions and Privacy Policy set forth by BidMouse.
            </span>
        </div>
        
      </div>    
    </div>
  </div>