<div class="premium-row">
    <div class="left">
        <div class="texe">
            Today At BidMouse Premium
        </div>
    </div>
    <div class="right">
        <div class="circle">
            <img src="assets/images/iPhone1.png" alt="">
        </div>
    </div>
</div>
<div class="premium-row">
    <div class="pname">
        <div class="njdk">
            Tissot Chronograph MT190
        </div>
    </div>
    <div class="price">
        <br>
        <span class="hb">CURRENT BID AT</span>
        <div class="amt">₹ 438.65</div>
    </div>
    <div class="bid-time">
        <div class="hb">Bidding Timings: 12PM to 12AM</div>
        <input type="button" routerLink="/bid-premium-prod" value="GET IN">
    </div>
</div>
<div class="up-prod">
    Upcoming Products
</div>
<div class="pre-prod">
    <div class="left">
        <div class="circle">
            <img src="assets/images/iPhone1.png" alt="">
        </div>
        <div class="release">
            <div class="on">Release on</div>
            <div class="day">Sunday,</div>
            <div class="date">20th June 2021</div>
        </div>
    </div>
    <div class="right">
        <div class="title">
            PORSCHE DESIGN BOUNCE 
        </div>
        <div class="info">
            Vestibulum rutrum quam vitae fringilla tincidunt. Suspendisse nec tortor urna. Ut laoreet sodales nisi, quis iaculis nulla iaculis vitae. Donec sagittis faucibus lacus eget blandit. Mauris vitae ultricies metus, at condimentum nulla.
        </div>
        <div class="bid">
            <small>BIDDING STARTS AT</small><br>
            ₹100
        </div>
        <input type="button" value="PRE REGISTER" class="pre-btn">
    </div>
</div>
<div class="view-info">
    Vote below for your favourite product amongst the list. Winning product will appear on BidMouse Daily for bidding on the specified release date.
</div>
<div class="release">
    For Release On: Wednesday, 17th June 2021
</div>
<div class="votin">
    Voting Ends: Tuesday, 16th June 2021 at 11.59PM
</div>
<div class="product-list">
    <div class="s1">
        <div class="label">
            PRODUCT LIST
        </div>
        <div class="info">
            <div class="b">Canon Pixma Pro-10 →</div>
            <div>Samsung Sero TV </div>
            <div>Sony Xperia 1 III</div>
            <div>Canon EOS M6 Mark II</div>
            <div>HP LaserJet Pro MFP M521dw</div>
        </div>
    </div>
    <div class="s2">
        <div class="circle">
            <img src="assets/images/iPhone1.png" alt="">
        </div>
    </div>
    <div class="s3">
        <div class="title">
            CANON PIXMA PRO-10
        </div>
        <div class="info">
            Vestibulum rutrum quam vitae fringilla tincidunt. Suspendisse nec tortor urna. Ut laoreet sodales nisi, quis iaculis nulla iaculis vitae. Donec sagittis faucibus lacus eget blandit. Mauris vitae ultricies metus, at condimentum nulla.
        </div>
        <div class="bid">
            <small>BIDDING STARTS AT</small><br>
            ₹100
        </div>
        <input type="button" value="VOTE FOR THIS" class="pre-btn">
    </div>
</div>
<br><br>
<div class="release">
    For Release On: Wednesday, 17th June 2021
</div>
<div class="votin">
    Voting Ends: Tuesday, 16th June 2021 at 11.59PM
</div>
<div class="product-list">
    <div class="s1">
        <div class="label">
            PRODUCT LIST
        </div>
        <div class="info">
            <div class="b">Canon Pixma Pro-10 →</div>
            <div>Samsung Sero TV </div>
            <div>Sony Xperia 1 III</div>
            <div>Canon EOS M6 Mark II</div>
            <div>HP LaserJet Pro MFP M521dw</div>
        </div>
    </div>
    <div class="s2">
        <div class="circle">
            <img src="assets/images/iPhone1.png" alt="">
        </div>
    </div>
    <div class="s3">
        <div class="title">
            RAYBAN WAYFARER
        </div>
        <div class="info">
            Vestibulum rutrum quam vitae fringilla tincidunt. Suspendisse nec tortor urna. Ut laoreet sodales nisi, quis iaculis nulla iaculis vitae. Donec sagittis faucibus lacus eget blandit. Mauris vitae ultricies metus, at condimentum nulla.
        </div>
        <div class="bid">
            <small>BIDDING STARTS AT</small><br>
            ₹100
        </div>
        <input type="button" value="VOTE FOR THIS" class="pre-btn">
    </div>
</div>
<div class="flex-support-contact">
    <div class="support">
        <div class="text">
            <div style="font-size: 1.5vw;">FOR HELP & SUPPORT</div>
            <div style="font-size: 2vw;">HELLO@BIDMOUSE.CO</div>
            <br><br><br><br>
            <div class="social">
                VISIT OUR SOCIAL PAGES
            </div>
            <div class="social-icons">
                <img src="assets/icons/facebook-singupsignin.svg" alt="">
                <img src="assets/icons/twitter_referral.svg" alt="">
                <img src="assets/icons/google-signupsignin.svg" alt="">
            </div>
            <br><br><br><br>
            <div class="unit">
                BidMouse is a Unit of <br>
                AMGB Treeline Private Limited
            </div>
        </div>
    </div>
    <div class="contact">
        <div style="font-size: 1.5vw;">Site Links</div>
        <br><br><br><br>
        <table border="0" style="width: 110%;">
            <tr>
                <td><span>Sign Up →</span></td>
                <td><span>Standard →</span></td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td><span>Refer and Earn →</span></td>
                <td><span><span>Premium →</span></span></td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td><span><span>FAQ’s →</span></span></td>
                <td><span><span>Winners →</span></span></td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td><span>Help Centre→</span></td>
                <td><span>About BidMouse →</span></td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td><span>Privacy Policy →</span></td>
                <td><span>Partner with BidMouse →</span></td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2"><span>Terms of Service →</span></td>
            </tr>
        </table>
        
    </div>
</div>