<div class="daily-one">
    <div class="first">
        <div class="bid">
            Today on BidMouse Standard
        </div>
        <div class="pInfo">
            Samsung Galaxy M51
        </div>
        <div class="info">
            Vestibulum rutrum quam vitae fringilla tincidunt. Suspendisse nec tortor urna. Ut laoreet sodales nisi, quis iaculis nulla iaculis vitae. Donec sagittis faucibus lacus eget blandit. Mauris vitae ultricies metus, at condimentum nulla.
        </div>
        <!-- <div class="timings">
            Bidding Timings: 12PM to 12AM 
        </div> -->
    </div>
    <div class="second">
        <img src="assets/images/iPhone1.png" alt=""> 
    </div>
    <div class="third">
        <div class="bid-info">
            <div class="line">
                BIDDING CLOSES IN
            </div>
            <div class="price">
                10h 38m 27s
            </div>
            <div class="botton">
                <span class="price">₹&nbsp;10.98 </span><br>
                <span class="place">PLACE&nbsp;BID</span>                
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="standing">
        <div class="title">
            <span>STANDINGS</span>
            <div class="directions">
                <span class="left">
                  ←
                </span>
                <span class="right inactive">
                  →
                </span>
              </div>
        </div>
        <div class="body">
            <table class="table table-borderless">
                <tr>
                    <td style="width: 100px;">
                        <div class="pic">

                        </div>
                    </td>
                    <td>Arvind Naik</td>
                    <td>₹ 10.98</td>
                    <td style="font-size: 72px;">1</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td style="width: 100px;">
                        <div class="pic">

                        </div>
                    </td>
                    <td>Ramesh Ramakrishna</td>
                    <td>₹ 10.98</td>
                    <td style="font-size: 72px;">2</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td style="width: 100px;">
                        <div class="pic">

                        </div>
                    </td>
                    <td>Arvind Naik</td>
                    <td>₹ 10.98</td>
                    <td style="font-size: 72px;">3</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td style="width: 100px;">
                        <div class="pic">

                        </div>
                    </td>
                    <td>Arvind Naik</td>
                    <td>₹ 10.98</td>
                    <td style="font-size: 72px;">4</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td style="width: 100px;">
                        <div class="pic">

                        </div>
                    </td>
                    <td>Arvind Naik</td>
                    <td>₹ 10.98</td>
                    <td style="font-size: 72px;">5</td>
                </tr>
              </table>
        </div>
        
    </div>
</div>
<br><br>
<br><br>
<div class="vid-info">
    <div class="left">
        <div class="wrapper">
            <!-- <video controls autoplay class="video"> -->
            <video class="video">
                <source src="http://e14aaeb709f7cde1ae68-a1d0a134a31b545b257b15f8a8ba5726.r70.cf3.rackcdn.com/projects/31432/1427815464209-bf74131a7528d0ea5ce8c0710f530bb5/1280x720.mp4" type="video/mp4" />
            </video>
          <div class="playpause"></div>
        </div>
    </div>
    <div class="right">
        <div class="col-div">
            
        </div>
    </div>
</div>
<div class="vid-info">
    <div class="left-info">
        <div class="prod-fea">
            PRODUCT FEATURES
        </div>
        <br>
        <div class="desc">
            Cras quis nulla commodo, aliquam lectus sed, blandit augue. Cras ullamcorper bibendum bibendum. Duis tincidunt urna non pretium porta. Nam condimentum vitae ligula vel ornare. Phasellus at semper turpis. Nunc eu tellus tortor. Etiam at condimentum nisl, vitae sagittis orci. Donec id dignissim nunc. Cras ullamcorper bibendum bibendum. Duis tincidunt urna non pretium.
        </div>
        <br>
        <br>
        <input type="button" value="LEARN MORE" class="lm">
    </div>
    <div class="right">
        <div class="col-div">
            <div class="grp">
                <div class="fea">
                    PRODUCT DIMENSION
                </div>
                <div class="fea-val">
                    16.9 x 0.9 x 7.6 cm
                </div>
            </div>
            <div class="grp">
                <div class="fea">
                    RAM
                </div>
                <div class="fea-val">
                    6GB
                </div>
            </div>
            <div class="grp">
                <div class="fea">
                    DISPLAY
                </div>
                <div class="fea-val">
                    Super AMOLED Plus
                </div>
            </div>
            <div class="grp">
                <div class="fea">
                    CAMERA
                </div>
                <div class="fea-val">
                    64MP+12MP+5MP+5MP
                </div>
            </div>
            <div class="grp">
                <div class="fea">
                    BATTERY POWER RATING
                </div>
                <div class="fea-val">
                    7000
                </div>
            </div>
            <div class="grp">
                <div class="fea">
                    CONNECTIVITY
                </div>
                <div class="fea-val">
                    2G/3G/4G
                </div>
            </div>

        </div>
    </div>
</div>
<div class="flex-support-contact">
    <div class="support">
        <div class="text">
            <div style="font-size: 1.5vw;">FOR HELP & SUPPORT</div>
            <div style="font-size: 2vw;">HELLO@BIDMOUSE.CO</div>
            <br><br><br><br>
            <div class="social">
                VISIT OUR SOCIAL PAGES
            </div>
            <div class="social-icons">
                <img src="assets/icons/facebook-singupsignin.svg" alt="">
                <img src="assets/icons/twitter_referral.svg" alt="">
                <img src="assets/icons/google-signupsignin.svg" alt="">
            </div>
            <br><br><br><br>
            <div class="unit">
                BidMouse is a Unit of <br>
                AMGB Treeline Private Limited
            </div>
        </div>
    </div>
    <div class="contact">
        <div style="font-size: 1.5vw;">Site Links</div>
        <br><br><br><br>
        <table border="0" style="width: 110%;">
            <tr>
                <td><span>Sign Up →</span></td>
                <td><span>Standard →</span></td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td><span>Refer and Earn →</span></td>
                <td><span><span>Premium →</span></span></td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td><span><span>FAQ’s →</span></span></td>
                <td><span><span>Winners →</span></span></td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td><span>Help Centre→</span></td>
                <td><span>About BidMouse →</span></td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td><span>Privacy Policy →</span></td>
                <td><span>Partner with BidMouse →</span></td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2"><span>Terms of Service →</span></td>
            </tr>
        </table>
        
    </div>
</div>