<div class="w3-sidebar w3-bar-block w3-light-grey w3-card" style="width:20%; padding: 2rem 3rem;">
    <div class="admin-title">ADMIN&nbsp;PANEL</div>
    <a routerLink="/dashboard" class="w3-bar-item w3-button" style="font-weight: bolder;">Dashboard</a>
    <a routerLink="/product-list" class="w3-bar-item w3-button">Product</a>
    <!-- <div class="w3-dropdown-hover">
        <button class="w3-button">Dropdown
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="w3-dropdown-content w3-bar-block">
            <a href="#" class="w3-bar-item w3-button">Link</a>
            <a href="#" class="w3-bar-item w3-button">Link</a>
        </div>
    </div> -->
    <a routerLink="/passes-admin" class="w3-bar-item w3-button">Passes</a>
    <a routerLink="/user-list" class="w3-bar-item w3-button">Users</a>
    <a routerLink="/ref-ad-list" class="w3-bar-item w3-button">Referrals</a>
    <a href="#" class="w3-bar-item w3-button">Reports</a>
</div>

<div style="margin-left:20%; height: 100%;">
    <div class="w3-container">
        <h1 class="bidding">BIDDING</h1>
        <select name="" id="" class="sect">
            <option value="">21st June 2021</option>
        </select>
        <div class="daily">DAILY</div>
        <div class="rect-row">
            <div class="c1">
                <div class="c-card bg-wht">
                    1
                </div>
            </div>
            <div class="c2">
                <div class="c-card bg-wht single">
                    <span>SAMSUNG GALAXY M51</span>
                </div>
            </div>
            <div class="c1">
                <div class="c-card bg-brd">
                    <div class="val">₹</div>
                    <div class="val">138.97</div>
                    <div class="val-desc">
                        Current Bid Price
                    </div>
                </div>
            </div>
            <div class="c1">
                <div class="c-card bg-brd">
                    <div class="val-desc xl">
                        Not Announced
                    </div>
                    <div class="val-desc">
                        Highest Bidder
                    </div>
                </div>
            </div>
        </div>
        <div class="rect-row">
            <div class="c1">
                <div class="c-card hide">
                    1
                </div>
            </div>
            <div class="c2">
                <div class="c-card bg-brd">
                    <div class="totalPass">
                        <span>Daily Day Passes</span>
                        <span>78%</span>
                    </div>
                    <div class="val-desc">
                        Top Pass Used to Bid for the Product
                    </div>
                </div>
            </div>
            <div class="c1">
                <div class="c-card bg-brd">
                    <div class="val">1,05,987</div>
                    <div class="val-desc">
                        Number of Active Participants
                    </div>
                </div>
            </div>
            <div class="c1">
                <div class="c-card bg-brd">
                    <div class="val">78%</div>
                    <div class="val-desc">
                        % of Total Users Participating 
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="daily">PREMIUM</div>
        <div class="rect-row">
            <div class="c1">
                <div class="c-card bg-wht">
                    1
                </div>
            </div>
            <div class="c2">
                <div class="c-card bg-wht single">
                    <span>TISSOT CHRONOGRAPH MT150</span>
                </div>
            </div>
            <div class="c1">
                <div class="c-card bg-brd">
                    <div class="val">₹</div>
                    <div class="val">138.97</div>
                    <div class="val-desc">
                        Current Bid Price
                    </div>
                </div>
            </div>
            <div class="c1">
                <div class="c-card bg-brd">
                    <div class="val-desc xl">
                        Not Announced
                    </div>
                    <div class="val-desc">
                        Highest Bidder
                    </div>
                </div>
            </div>
        </div>
        <div class="rect-row">
            <div class="c1">
                <div class="c-card hide">
                    1
                </div>
            </div>
            <div class="c2">
                <div class="c-card bg-brd">
                    <div class="totalPass">
                        <span>All Access Pass - Week</span>
                        <span>86%</span>
                    </div>
                    <div class="val-desc">
                        Top Pass Used to Bid for the Product
                    </div>
                </div>
            </div>
            <div class="c1">
                <div class="c-card bg-brd">
                    <div class="val">1,05,987</div>
                    <div class="val-desc">
                        Number of Active Participants
                    </div>
                </div>
            </div>
            <div class="c1">
                <div class="c-card bg-brd">
                    <div class="val">78%</div>
                    <div class="val-desc">
                        % of Total Users Participating 
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="all-data">
            <div class="all">ALL DATA</div> 
            <div class="select-box">
                <select name="" id="" >
                    <option value="">ALL TIME</option>
                </select>
            </div>
            <div  class="select-box">
                <select name="" id="" >
                    <option value="">MONTH TO DATE</option>
                </select>
            </div>
        </div>
        <div class="rect-row">
            <div class="c1">
                <div class="c-card bg-wht single">
                    SIGN UP’S
                </div>
            </div>
            <div class="c2">
                <div class="c-card bg-brd lh fontSize">
                    4,05,987
                </div>
            </div>
            <div class="c2">
                <div class="c-card bg-brd lh fontSize">
                    58,987
                </div>
            </div>
        </div>
        <div class="rect-row">
            <div class="c1">
                <div class="c-card bg-wht single">
                    PASSES
                    BOUGHT
                </div>
            </div>
            <div class="c2">
                <div class="c-card bg-brd lh fontSize">
                    4,05,987
                </div>
            </div>
            <div class="c2">
                <div class="c-card bg-brd lh fontSize">
                    58,987
                </div>
            </div>
        </div>
        <div class="rect-row">
            <div class="c1">
                <div class="c-card bg-wht single">
                    REFERRAL
                    SIGN UP’s
                </div>
            </div>
            <div class="c2">
                <div class="c-card bg-brd lh fontSize">
                    4,05,987
                </div>
            </div>
            <div class="c2">
                <div class="c-card bg-brd lh fontSize">
                    58,987
                </div>
            </div>
        </div>
        <div class="rect-row">
            <div class="c1">
                <div class="c-card bg-wht single">
                    TOTAL
                    REVENUE
                </div>
            </div>
            <div class="c2">
                <div class="c-card bg-brd lh fontSize">
                    4,05,987
                </div>
            </div>
            <div class="c2">
                <div class="c-card bg-brd lh fontSize">
                    58,987
                </div>
            </div>
        </div>
        <br><br>
    </div>
</div>