<div class="container-fluid" style="background-color: #DEE403 !important;">
    <div class="row">
        <div class="col-lg-12">
            <div class="back" routerLink="/my-acc">
                ← Back
            </div>
            <div class="pageTitle">
                Refer and earn
            </div>
        </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="referInfo">  
          Refer your family and friends. They get discounts on purchase of pass. And you get the discounted amount as cashback.
        </div>
      </div>
      <div class="col-lg-8">
        <div class="referPrice">
          <div class="priceTxt">
            Earned through Referrals
          </div>
          <div class="tagline">
            Will be deposited to your wallet on Launch Day
          </div>
          <div class="price">
            <span>
              ₹
            </span>  170
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <img src="assets/images/referral1.png" class="refImg" alt="">
      </div>
      <div class="col-lg-4">
        <img src="assets/images/referral2.png" class="refImg" alt="">
      </div>
      <div class="col-lg-8">
        <div class="refInfo">
          <div class="sub">
            Your Referral Message
          </div>
          <div class="message">
            Hey there,<br><br>
            Here is a new way for you to get your hands on your favourite products. I am inviting you to join BidMouse. Join now and get discounts on purchase of pass. Use Code NHGR55OP or click on the link below.
            <br><br>
            Mohan Kumar
          </div>
          <div class="shareUs">
            Share this message on
          </div>
          <div class="social-icons">
            <img src="assets/icons/facebook-singupsignin.svg" alt="">
            <img src="assets/icons/twitter_referral.svg" alt="">
            <img src="assets/icons/google-signupsignin.svg" alt="">
            <input type="button" value="Copy Message with Link" class="button">
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="referPrice">
          <div class="inviteMail">
            <span class="left">
              INVITE THROUGH EMAIL
            </span>
            <span class="right">
              CLEAR
            </span>
          </div>
          <div class="inputfield">
              <span style="display: flex; justify-content: space-between;">
                <span>Email 1</span>
                <span style="font-weight: bold;font-size: 20px; cursor: pointer;">SEND</span>
              </span>
              
              <div class="refercode">
                  <input type="text" name="" onfocus="this.placeholder=''" onfocusout="this.placeholder='Enter Full name'">
              </div>
          </div>
          <div class="inputfield">
            <span style="display: flex; justify-content: space-between;">
              <span>Email 2</span>
              <span style="font-weight: bold;font-size: 20px; cursor: pointer;">SEND</span>
            </span>
              <div class="refercode">
                  <input type="text" name="" onfocus="this.placeholder=''" onfocusout="this.placeholder='Enter Full name'">
              </div>
          </div>
          <div class="inputfield">
            <span style="display: flex; justify-content: space-between;">
              <span>Email 3</span>
              <span style="font-weight: bold;font-size: 20px; cursor: pointer;">SEND</span>
            </span>
              <div class="refercode">
                  <input type="text" name="" onfocus="this.placeholder=''" onfocusout="this.placeholder='Enter Full name'">
              </div>
          </div>
          <div class="inputfield">
            <span style="display: flex; justify-content: space-between;">
              <span>Email 4</span>
              <span style="font-weight: bold;font-size: 20px; cursor: pointer;">SEND</span>
            </span>
              <div class="refercode">
                  <input type="text" name="" onfocus="this.placeholder=''" onfocusout="this.placeholder='Enter Full name'">
              </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <img src="assets/images/referral1.png" class="refImg" alt="">
      </div>
    </div>
    <div class="row" style="background-color: #000034;">
        <div class="col-lg-6">
          <div class="forHelp">
            <div class="title">
              For Help & Support
            </div>
            <div class="email">
              hello@bidmouse.co
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="forHelp">
            <div class="email">
              <div class="link" style="width: 9rem;">
                Sign Up →
              </div>
              <div class="link" style="width: 15rem;">
                Refer and Earn →
              </div>            
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="forHelp">
            
            <div class="email">
              BidMouse is a Unit of <br>
              AMGB Treeline Private Limited
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="forHelp">
            <div class="email">
              Visit Our Social Pages
            </div>
            <div class="social-icons">
              <img src="assets/icons/facebook-singupsignin.svg" alt="">
              <img src="assets/icons/twitter_referral.svg" alt="">
              <img src="assets/icons/google-signupsignin.svg" alt="">
            </div>
          </div>
        </div>
      </div>
</div>